name: example/trivy/upload

on:
  push:
    branches:
      - main
  workflow_dispatch: { }

env:
  RS_SECRET_ID: ${{ secrets.RS_SECRET_ID }}
  RS_SECRET: ${{ secrets.RS_SECRET }}
  RS_BASE_URL: ${{ secrets.RS_BASE_URL }}

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: nginx:1.22.1-alpine3.17
          format: json
          output: trivy-results.json
      - uses: reysys-technology/setup-rscli-action@1
      - run: |
          rscli trivy upload-trivy-container-image-scan -f trivy-results.json
